*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(0, 0, 0);
}
.container{
    box-shadow: rgb(255, 255, 255) 0px 8px 24px;
    border-radius: 15px ;
    color: white;
    width: 75%;
    min-height: 70vh;
    margin: auto;
    margin-top: 5vh;
    padding: 30px;
    
}
.sub-container{
    display: flex;
    flex-direction: row;
    position: relative;
}
.toggleBtn{
    box-shadow: rgba(255, 255, 255, 0.849) 0px 8px 24px;
    float: right;
    padding: 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    border-radius: 5px;
    width: 100px;

}
li{
    list-style-type: none;
    background:white;
    color: black;
    padding: 10px;
    margin: 10px;
}
.left, .right{
    height: auto;
    width: 100%;
    text-align: justify;
    padding: 20px;
    font-size: 18pt;
}
.left{
    display: flex;
    flex-direction: column;
}
.customButton{
    background: none;
    border: 2px solid rgb(134, 248, 182);
    border-radius: 5px;
    height: 50px;
    margin: 10px;
    color: white;
    font-size: 12pt;
    cursor: pointer;
}
.active{
    background-color: rgb(134, 248, 182);
    color: black;
}
.right ul li span{
    float: right;
}

/* responsive designing  */

@media only screen and (max-width: 600px) {
   
    .container{
        width: 90%;
        min-height: 90vh;
        margin-top: 5vh;
        padding: 15px;
        
    }
    li{
        padding: 5px;
        margin: 10px;
        width: 100%;
    }
    .sub-container{
        width: 100%;
        padding-top: 10px;
    }
    .right{
        text-align: left;
        padding: 5px;
        font-size: 9pt;
        font-weight: bolder;
        width: 70%;
    }
    .left{
        display: flex;
        flex-direction: column;
        width: 40%;
    }
    .customButton{
        height: 40px;
        margin: 10px;
        color: white;
        font-size: 10pt;
        cursor: pointer;
    }
    .active{
        background-color: rgb(134, 248, 182);
        color: black;
    }
}